// Colors
$dark-grey: #333;
$grey: #666;
$light-grey: #ccc;
$light-blue: #5dade2;
$blue: #04d2c3;
$dark-blue: #364051;
$off-white: #f7f7f7;
$red: #e74c3c;
$orange: #f39c12;
// Font Size
$font-size-large: 1.8rem;
$font-size-regular: 1.4rem;
$font-size-small: 1.2rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 3.4rem;
$desktop-breakpoint: 45rem;
